<h1>Ghost Post</h1>


<button><a href="post/">Add a Boast or Roast</a></button>
<br>

{% for post in posts %}
<br>

    {% if post.boast %}
        <h3>Boast: {{ boasts }}</h3>

    {% else %}
        <h3>Roast: {{ roasts }} </h3>
    {% endif %}
    <h4>{{ post }} </h4>
        <h5>Total Votes: {{ post.sum_of_votes }} </h5>

<li>
    {% include 'voting.html' %}
</li>
{% endfor %}

<h2>
    <button> <a href= "boast/">Boasts</a></button>

    <button> <a href= "roast/">Roasts</a></button>
</h2>

