<h1>Ghost Post</h1>


<h2>
    <button><a href="post/">Add a Boast or Roast</a></button>
</h2>
<br>


<h3>
    <button> <a href= "boasts/">Boasts</a></button>

    <button> <a href= "roasts/">Roasts</a></button>
</h3>
<br>
<h4>
    <button> <a href="voting">Sort by Votes</a></button>
</h4>
{% for post in posts %}
    {% if post.boast %}
        <h4>
            {{post.post_input}}
            <h5>{{post.date}}</h5>
        </h4>
    {% else %}
        <h4>{{post.post_input}}</h4>
    {% endif %}

<br>
    <button><a href='/up_vote/{{ post.id}}/'>Upvote {{ post.up_vote }}</a> </button>
    <button><a href='/down_vote/{{ post.id}}/'>Downvote {{ post.down_vote }}</a></button>
{% endfor %}

